<!doctype html>
  <head>
    <meta charset="utf-8">
    <title>The HAL Browser</title>
    <link rel="stylesheet" media="screen" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" media="screen" href="bower_components/bootstrap/dist/css/bootstrap-theme.css" />
    <link rel="stylesheet" media="screen" href="hal.css" />
  </head>

  <body>

    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">The HAL Browser</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="#/" id="entryPointLink">Go To Entry Point</a></li>
            <li><a href="https://github.com/mikekelly/hal-browser">About The HAL Browser</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div id="browser" class=""></div>

  <script id="location-bar-template" type="text/template">
<form>
   <div class="col-md-12">
    <div class="input-group">
      <input class="form-control" type="text" value="<%= url %>">
      <span class="input-group-btn">
        <button class="btn btn-default" type="submit">Go!</button>
      </span>
    </div>
  </div>
</form>
  </script>

  <script id="links-template" type="text/template">
    <h2>Links</h2>
    <table class="table">
      <thead>
        <tr>
          <th>rel</th>
          <th>title</th>
          <th>name / index</th>
          <th>docs</th>
          <th>GET</th>
          <th>NON-GET</th>
        </tr>
      </thead>
      <tbody>
      <% _.each(links, function(obj, rel) { %>
        <% if ($.isArray(obj)) { %>
          <% _.each(obj, function(link, i) { %>
            <tr>
              <td><strong><%= HAL.truncateIfUrl(rel) %></strong></td>
              <td><%= link.title || '' %></td>
              <td><%= link.name ? 'name: ' + link.name : 'index: ' + i %></a></td>
              <td>
              <% if (HAL.isUrl(rel)) { %>
                <a class="dox" href="<%= HAL.buildUrl(rel) %>"><span class="glyphicon glyphicon-book"></span></a>
              <% } %>
              </td>
              <td>
                <% if (link.templated === true) { %>
                  <a class="query btn btn-success" href="<%= link.href
                  %>" title="Query URI template"><span class="glyphicon glyphicon-question-sign"></span></a> <% } else { %>
                  <a class="follow btn btn-success" href="<%= link.href %>" title="Follow link"><span class="glyphicon glyphicon-arrow-right"></span></a>
                <% } %>
              </td>
              <td>
                <a class="non-get btn btn-warning" href="<%= link.href %>" title="Perform non-GET request"><span class="glyphicon glyphicon-cloud-upload"></span></a>
              </td>
            </tr>
          <% }); %>
        <% } else { %>
          <tr>
            <td><strong><%= HAL.truncateIfUrl(rel) %></strong></td>
            <td><%= obj.title || '' %></td>
            <td><%= obj.name || '' %></td>
            <td>
            <% if (HAL.isUrl(rel)) { %>
              <a class="btn dox" href="<%= HAL.buildUrl(rel) %>"><span class="glyphicon glyphicon-book"></span></a>
            <% } %>
            </td>
            <td>
              <% if (obj.templated === true) { %>
                <a class="query btn btn-success" href="<%= obj.href %>" title="Query URI template"><span class="glyphicon glyphicon-question-sign"></span></a>
              <% } else { %>
                <a class="follow btn btn-success btn-xs" href="<%= obj.href %>" title="Follow link"><span class="glyphicon glyphicon-arrow-right"></span></a>
              <% } %>
            </td>
            <td>
              <a class="non-get btn btn-warning" href="<%= obj.href %>" title="Perform non-GET request"><span class="glyphicon glyphicon-cloud-upload"></span></a>
            </td>
          </tr>
        <% } %>
      <% }) %>
      </tbody>
    </table>
  </script>

  <script id="properties-template" type="text/template">
    <h2>Properties</h2>
    <pre><%= _.escape(JSON.stringify(properties, null, HAL.jsonIndent)) %></pre>
  </script>

  <script id="request-headers-template" type="text/template">
    <h2>Custom Request Headers</h2>
    <textarea class="col-md-12"></textarea>
  </script>

  <script id="response-headers-template" type="text/template">
    <h2>Response Headers</h2>
    <pre><%= status.code %> <%= status.text %>

<%= headers %></pre>
  </script>

  <script id="response-body-template" type="text/template">
    <h2>Response Body</h2>
    <pre><%= _.escape(body) %></pre>
  </script>

  <script id="query-uri-template" type="text/template">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4>Expand URI Template</h4>
        </div>

        <form id="query" action="<%= href %>">
          <div class="modal-body">
            <p>URI Template:</p>
            <pre><%= href %></pre>
            <p>Input (JSON):</p>
            <textarea><%= input %></textarea>
            <p>Expanded URI:</p>
            <pre class="preview">&nbsp;</pre>
          </div>

          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Follow URI</button>
          </div>
        </div>
      </div>
    </form>
  </script>


  <script id="non-safe-request-template" type="text/template">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4>Make a non-GET request</h4>
        </div>

        <form class="non-safe" action="<%= href %>">
          <div class="modal-body">
            <p>Target URI</p>
            <input name="url" type="text" class="url" value="<%= href %>" />
            <p>Method:</p>
            <input name="method" type="text" class="method" value="POST" />
            <p>Headers:</p>
    <textarea name="headers" class="headers" style="height: 100px">
Content-Type: application/json
    <%= user_defined_headers %>
    </textarea>
            <p>Body:</p>
    <textarea name="body" class="body" style="height: 200px">
{

}
    </textarea>
          </div>

          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Make Request</button>
          </div>
        </div>
      </div>
    </form>
  </script>

  <script id="embedded-resources-template" type="text/template">
    <h2>Embedded Resources</h2>
  </script>

  <script id="embedded-resource-template" type="text/template">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
        <a data-toggle="collapse" class="accordion-toggle" href="#collapse<%= index %>"><%= resource.identifier %>
        <% if (HAL.isUrl(resource.embed_rel)) { %>
          <span class="btn dox pull-right" data-href="<%= HAL.buildUrl(resource.embed_rel) %>">
            <span class="glyphicon glyphicon-book"></span>
          </span>
        <% } %>
        </a>
        </h4>
      </div>
      <div id="collapse<%= index %>" class="panel-collapse collapse in">
        <div class="panel-body">
        </div>
      </div>
    </div>
  </script>

  <script src="bower_components/jquery/jquery.min.js"></script>
  <script src="bower_components/underscore/underscore-min.js"></script>
  <script src="bower_components/backbone/backbone-min.js"></script>
  <script src="bower_components/url-template/lib/url-template.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="bower_components/uri.js/src/URI.js"></script>
  <script src="hal.js"></script>

  <script>
    var browser = new HAL.Browser({
      container: $('#browser'),
      entryPoint: '/'
    });
    Backbone.history.start();
  </script>
</body>
