#browser #location-bar { margin: 10px 0; }

#browser #location-bar .address {
  border: 1px solid #999;
  padding: 4px; margin: 0;
}


#inspector { height: 100%; }

#inspector .panel iframe { width: 100%; height: 100%; }

body .btn {
  padding: 2px 5px 2px;
  font-size: 12px;
  line-height: 14px;
}

body table.table {
  font-size: 11px;
}
