#browser .state { float: left; width: 50%; min-width: 300px; }
#browser .links { float: left; width: 50%; min-width: 300px; }

#inspector { height: 100%; }

#inspector .panel iframe { width: 100%; height: 100%; }
